- var epubTypes = epubTypes || ['bodymatter']
- var roles = roles || []
- var language = language || 'en-US'
- var lessonNumberTitle = lessonId ? 'Bài '  + lessonId : ''
- var pageTitle = lessonNumberTitle && title ? lessonNumberTitle + ': ' + title : lessonNumberTitle || title || book.title