extends ../templates/layout
append variables
    - var classes = 'about'
    - var epubTypes = ['frontmatter']    
block content
    header
        h1 About FSI
    section
        p Established in 1947, the Foreign Service Institute is the United States Government’s primary  training  institution  for  employees  of  the  U.S.  foreign  affairs  community,  preparing  American  diplomats  and  other  professionals  to  advance  U.S.  foreign  affairs interests overseas and in Washington.  FSI provides more than 600 courses–to include training in some 70   foreign languages, as well as in leadership, management, professional  tradecraft,  area  studies,  and  applied  information  technology  skills–to some 100,000 students a year, drawn from the Department of State and more than 40 other government agencies and military service branches.  FSI provides support to all U.S.  Government  employees  involved  in  foreign  affairs,  from  State  Department  entry-level  Foreign  and  Civil  Service  employees  to  newly-assigned  Ambassadors,  and to our Foreign Service National colleagues who assist U.S. efforts at some 270 posts abroad.