extends ../templates/layout
append variables
    - var classes = 'acknowledgements'
    - var epubTypes = ['frontmatter', 'acknowledgments']
block content
    header
        h1 Acknowledgements
    section
        dl
            dt Content Development
            dd Vân Anh Bùi, Hiền Huỳnh, Hạnh McPherson, Jenny Nguyễn, Linh Chawla, Minh Vũ, Oanh Nguyễn,Trâm Lý, Thúy Thái, Thanh Vương
            dt Project Management
            dd Thu Nguyễn
            dt Project Coordinator
            dd Hạnh McPherson
            dt Material Feedback and Edition
            dd Hạnh McPherson, Linh Chawla, Minh Vũ 
            dt Website Management
            dd Duy Hồ, Hạnh McPherson
            dt Audio Management
            dd Duy Hồ
            dt eBook Development
            dd Shelley O'Donnell, Eun Hae Lee, Hummara Bashir
            dt Printing
            dd Anh Nguyễn, AV team